{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Event{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="bane" value="{{ request.form['name'] }}" required>
    <label for="date">Date</label>
    <input name="date" type="date" id="date" value="{{ request.form['date'] }}" required>
    <label for="n_tickets">Initial Number of Tickets</label>
    <input name="n_tickets" type="number" min="1" id="n_tickets" value="{{ request.form['n_tickets'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}