{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ event['name'] }} {% endblock %}</h1>
  <a class="action" href="{{ url_for('event.download', eventIdentifier=event['guid']) }}">Download Unredeemed Tickets</a>
{% endblock %}

{% block content %}
    <article class="event">
        <header>
        <div>
            <div class="body">The date of the event is <b>{{ event['date'].strftime('%d %b %Y') }}</b></div>
            <div class="body">Total No. Tickets: <b>{{ event['n_tickets'] }}</b></div>
            <div class="body">No. Unredeemed Tickets: <b>{{ event['n_unredeemed_tickets'] }}</b></div>
            <div class="body">The event's unique identifier is <b>{{ event['guid'] }}</b></div>
        </div>
        </header>
    </article>
{% endblock %}